.avatar-login {
  width: 25%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;

  
  vertical-align: middle;


}

.speed-dial-corner {
  position: absolute;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
 
}