<div layout="column" class="relative" layout-fill role="main" flex ng-init="index('/Alerta')">

  <md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999" md-mode="indeterminate"></md-progress-linear>

  <md-toolbar class="md-whiteframe-z1" ng-include="'src/app/views/header-ver-opciones.html'"></md-toolbar>
  <md-content>

    <md-card>
      <md-card-content>
        <form role="form" name="forma">
          <md-content layout="column" class="imprimir" layout-padding>

            <md-input-container flex> <label>{{ 'NOMBRE' | translate }}</label>
              <input required name="nombre" ng-model="dato.nombre" minlength="3" maxlength="255">
              <div ng-messages="forma.nombre.$error">
                <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
              </div>
            </md-input-container>

            <md-content layout-padding>

              <h3>
                {{ 'COLOR' | translate }} <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </h3>
              <md-slider-container>
                <span>R</span>
                <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class="md-accent">
                </md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
                </md-input-container>
              </md-slider-container>
              <md-slider-container>
                <span>G</span>
                <md-slider flex ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider" md-theme="altThemeg"
                  class="md-primary">
                </md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
                </md-input-container>
              </md-slider-container>
              <md-slider-container>
                <span class="md-body-1">B</span>
                <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
                </md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
                </md-input-container>
              </md-slider-container>
            </md-content>
          </md-content>
        </form>
      </md-card-content>
    </md-card>
    <span ng-init="cargando = false;"></span>
  </md-content>
</div>