
  
<div layout="column" class="relative" layout-fill role="main" flex ng-init="ver('/perfil')">
  
  <md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999" md-mode="indeterminate"></md-progress-linear>

  <md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button " ng-click="toggleSidenav()" aria-label="Menu">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
  
      <md-button class="md-icon-button " ng-click="toggleMenu()" aria-label="colapse">
        <md-icon md-svg-icon="chevron-left" ng-show="menuIsOpen"></md-icon>
        <md-icon md-svg-icon="chevron-right" ng-show="!menuIsOpen"></md-icon>
      </md-button>
      <h2>
        <span>{{ moduloName | translate }}</span> / <small>{{ moduloAccion | translate }}</small>
      </h2>
      <span flex></span>
      
      <a url-modulo="--" id="lista">
        <md-button hide-md hide-sm hide-lg aria-label="{{ 'REGRESAR' | translate }}" ng-if="url.split('/').length>2">
          <md-icon md-svg-icon="keyboard-backspace"></md-icon>
          {{ 'REGRESAR' | translate }}
        </md-button>
      
        <md-button class="md-icon-button" hide show-sm show-md show-lg aria-label="{{ 'REGRESAR' | translate }}" ng-if="url.split('/').length>2">
          <md-icon md-svg-icon="keyboard-backspace"></md-icon>
          <md-tooltip hide-sm>
            {{ 'REGRESAR' | translate }}
          </md-tooltip>
        </md-button>
      </a>

      <md-button boton-permiso="update" hide-md hide-sm hide-lg aria-label="{{ 'GUARDAR' | translate }}" ng-click="modificar(id)"
        ng-disabled="forma.$invalid" >
        <md-icon md-svg-icon="content-save"></md-icon>
        {{ 'GUARDAR' | translate }}
      </md-button>
      <md-button boton-permiso="update" class="md-icon-button" hide show-sm show-md show-lg ng-click="modificar(id)"
        ng-disabled="forma.$invalid" aria-label="{{ 'GUARDAR' | translate }}" >
        <md-icon md-svg-icon="content-save"></md-icon>
        <md-tooltip hide-sm>
          {{ 'GUARDAR' | translate }}
        </md-tooltip>
      </md-button>

      <md-button hide-sm hide-md class="md-icon-button" aria-label="{{ 'CAMBIAR_IDIOMA' | translate }}" ng-click="mostrarIdiomas($event)">
        <md-icon md-svg-icon="web"></md-icon>
        <md-tooltip hide-sm>
          {{ 'CAMBIAR_IDIOMA' | translate }}
        </md-tooltip>
      </md-button>
      
      <md-button hide-sm hide-md ng-click="logout()" aria-label="{{ 'CERRAR_SESION' | translate }}">
        <md-icon md-svg-icon="exit-to-app"></md-icon>
        {{ 'CERRAR_SESION' | translate }}
      </md-button>

    </div>
  </md-toolbar>

  <md-content>
    <md-card>
      <md-card-content>

        <md-content layout="row" layout-padding>
          <md-input-container flex>
            <label>{{ 'NOMBRE' | translate }}</label>
            <input name="nombre" type="text" ng-model="dato.nombre" required>
            <div ng-messages="forma.nombre.$error">
              <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
            </div>

          </md-input-container>

          <md-input-container flex>
            <label>{{ 'EMAIL' | translate }}</label>
            <input name="email" type="email" ng-model="dato.email" required>
            <div ng-messages="forma.email.$error">
              <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
              <div ng-message="email">{{ 'EMAIL_INVALIDO' | translate }}</div>
              <div ng-message="unique">{{ 'CORREO_YA_EXISTE' | translate }}</div>
            </div>

          </md-input-container>
        </md-content>



        <md-content layout="row" layout-padding>
          <md-input-container flex>
            <label>{{ 'USUARIO' | translate }}</label>
            <input name="username" type="text" ng-model="dato.username">
          </md-input-container>

          <md-checkbox ng-model="dato.cambiarPassword" ng-click="toggleCambiarPassword()" flex ng-true-value="1"
            ng-false-value="0">
            <br>{{ 'CAMBIAR_CONTRASENA' | translate }}
          </md-checkbox>
        </md-content>

        <md-content layout="row" layout-padding ng-if="dato.cambiarPassword">
          <md-input-container flex>
            <label>{{ 'PASSWORD' | translate }}</label>
            <input name="password" type="password" ng-model="dato.password">
          </md-input-container>

          <md-input-container flex>
            <label>{{ 'REPETIR_CONTRASENA' | translate }}</label>
            <input name="confirmarPassword" type="password" ng-model="dato.confirmarPassword">
          </md-input-container>
        </md-content>

        <md-content>
          <md-list flex>
            <md-list-item class="md-3-line" style="background-color: rgba(220, 220, 220, 0.25);">
              <img ng-src="{{ url_base + '/adjunto/usuario/' + dato.foto}}" class="md-avatar" alt="foto" />
              <div class="md-list-item-text" layout="column">
                <md-input-container flex ng-if="dato.foto == ''">
                  <label>{{ 'FOTO_PERFIL' | translate }}</label>
                  <input name="foto" type="file" ng-model="dato.fotito" file64 accept="image/x-png,image/gif,image/jpeg,image/jpg">
                </md-input-container>
                <md-button class="md-raised md-warn" ng-if="dato.foto != ''" ng-click="borrarImagen(dato.foto, 'usuario')">
                  <md-icon md-svg-icon="delete"></md-icon>
                  {{'ELIMINAR_FOTO' | translate}}
                </md-button>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-3-line" style="background-color: rgba(173, 208, 229, 0.25)">
              <img ng-src="{{dato.avatar}}" class="md-avatar" alt="foto" />
              <div class="md-list-item-text" layout="column">
                <md-input-container flex>
                  <label>{{ 'URL_AVATAR' | translate }}</label>
                  <input name="confirmarPassword" type="url" ng-model="dato.avatar">
                </md-input-container>
              </div>
            </md-list-item>
          </md-list>
        </md-content>



      </md-card-content>
    </md-card>
  </md-content>
</div>