<div layout="column" class="relative" layout-fill role="main" flex ng-init="index('/sisModulo')">

	<md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999" md-mode="indeterminate"></md-progress-linear>
	<md-toolbar md-theme="{{ showSearch ? 'altTheme' : 'default' }}" class="md-whiteframe-z1" ng-include="'src/app/views/header-lista-opciones.html'"></md-toolbar>
	<md-content layout="column">
		<md-card>
			<md-card-content layout="column">
				<md-data-table-container flex>
					<table md-data-table md-progress="datos">
						<thead md-order="query.order" md-trigger="onOrderChange">
							<tr>
								<th hide-sm name="ID" order-by="id"></th>

								<th name="{{ 'NOMBRE' | translate }}" order-by="nombre"></th>
								<th hide-sm name="{{ 'CONTROLADOR' | translate }}"></th>
								<th name="{{ 'PADRE' | translate }}"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr md-auto-select ng-repeat="dato in datos">
								<td hide-sm>{{ dato.id }}</td>
								<td style="vertical-align: middle;">{{ dato.nombre }} </td>
								<td style="vertical-align: middle;">{{ dato.controlador }} </td>
								<td style="vertical-align: middle;">{{ dato.padres ? dato.padres.nombre:"No tiene" | uppercase }} </td>
								<td>

									<section layout="row" layout-align="end center" ng-include="'src/app/views/menu-acciones.html'"></section>

								</td>

							</tr>
						</tbody>
					</table>
				</md-data-table-container>


				<md-data-table-pagination md-limit="query.limit" md-label="paginationLabel" md-row-select="[25,50,100,1000,10000]"
				 md-page="query.page" md-total="{{paginacion.paginas}}" md-trigger="onPaginationChange" flex></md-data-table-pagination>
			</md-card-content>
		</md-card>
	</md-content>
</div>