/**
 * @ngdoc interface
 * @name App.interface:URLS
 * @description
 * constantes para las urls utilizadas en la aplicación.
 */  
(function(){
	'use strict';
	angular.module('App').constant('URLS', {
    	BASE: 'http://localhost/Cium_2017/APIRESTfull/public',
    	BASE_API: 'http://localhost/Cium_2017/APIRESTfull/public/v1',
		OAUTH_CLIENTE: 'http://sistemas.salud.chiapas.gob.mx/salud-id',
		OAUTH_SERVER: 'http://localhost/SSA_MATERIAL/oauth2-server/public',
		ETAB: "http://localhost/etabISSUBIDO/web/app_dev.php/iframe/usuario_etab/password_etab",
    	MAPS_KEY: "AIzaSyDw9kG14NQj-jkbInyeHBn1_HL3K6g2EI"
   	});	
})();