
 
<div layout="column" class="relative" role="main" flex ng-init="index('/EvaluacionPC');">

	<md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999" md-mode="indeterminate"></md-progress-linear>
	<md-toolbar ng-show="!showSearch">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button " ng-click="toggleSidenav()" aria-label="Menu">
				<md-icon md-svg-icon="menu"></md-icon>
			</md-button>

			<md-button class="md-icon-button " ng-click="toggleMenu()" aria-label="colapse">
				<md-icon md-svg-icon="chevron-left" ng-show="menuIsOpen"></md-icon>
				<md-icon md-svg-icon="chevron-right" ng-show="!menuIsOpen"></md-icon>
			</md-button>
			<h2>
				<span>{{ moduloName | translate }}</span>
			</h2>
			<span flex></span>
			

			<md-button hide-md hide-sm hide-lg aria-label="{{ 'BUSCAR' | translate }}" ng-click="mostrarSearch(0)">
				<md-icon md-svg-icon="magnify"></md-icon>
				{{ 'BUSCAR' | translate }}
			</md-button>
			<md-button class="md-icon-button" hide show-sm show-md show-lg ng-click="resetear_clues()" aria-label="{{ 'BUSCAR' | translate }}">
				<md-icon md-svg-icon="magnify"></md-icon>
				<md-tooltip hide-sm>
					{{ 'BUSCAR' | translate }}
				</md-tooltip>
			</md-button>

			<md-button hide-md hide-sm hide-lg aria-label="{{ 'ACTUALIZAR' | translate }}" ng-click="init()">
				<md-icon md-svg-icon="refresh"></md-icon>
				{{ 'ACTUALIZAR' | translate }}
			</md-button>
			<md-button class="md-icon-button" hide show-sm show-md show-lg ng-click="init()" aria-label="{{ 'ACTUALIZAR' | translate }}">
				<md-icon md-svg-icon="refresh"></md-icon>
				<md-tooltip hide-sm>
					{{ 'ACTUALIZAR' | translate }}
				</md-tooltip>
			</md-button>

			<!-- Resetear catalogos de macro, meso y micro red -->
			<md-button hide-md hide-sm hide-lg aria-label="{{ 'RESETEAR' | translate }}" ng-click="resetear_meso()" *ngIf="activar_super">
				<md-icon md-svg-icon="delete"></md-icon>
				{{ 'RESETEAR-CATALOGOS-MESO' | translate }}
			</md-button>
			<md-button class="md-icon-button" hide show-sm show-md show-lg ng-click="resetear_meso()" aria-label="{{ 'RESETEAR' | translate }}"
			 *ngIf="activar_super">
				<md-icon md-svg-icon="delete"></md-icon>
				<md-tooltip hide-sm>
					{{ 'RESETEAR-CATALOGOS-MESO' | translate }}
				</md-tooltip>
			</md-button>
			<!-- fin mmm red -->

			<md-button hide-md hide-sm hide-lg aria-label="{{ 'NUEVO' | translate }}" ng-click="nuevo()">
				<md-icon md-svg-icon="plus"></md-icon>
				{{ 'NUEVO' | translate }}
			</md-button>
			<md-button class="md-icon-button" hide show-sm show-md show-lg ng-click="nuevo()" aria-label="{{ 'NUEVO' | translate }}">
				<md-icon md-svg-icon="plus"></md-icon>
				<md-tooltip hide-sm>
					{{ 'NUEVO' | translate }}
				</md-tooltip>
			</md-button>

			<md-button hide-md hide-sm hide-lg aria-label="{{ 'NUEVO' | translate }}" ng-click="abrirEvaluacionFicha($event);">
				<md-icon md-svg-icon="file-document"></md-icon>
				{{ 'EVALUACION_IMPRESA' | translate }}
			</md-button>
			<md-button class="md-icon-button" hide show-sm show-md show-lg ng-click="abrirEvaluacionFicha($event);" aria-label="{{ 'NUEVO' | translate }}">
				<md-icon md-svg-icon="file-document"></md-icon>
				<md-tooltip hide-sm>
					{{ 'EVALUACION_IMPRESA' | translate }}
				</md-tooltip>
			</md-button>
			<span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>

	<md-toolbar ng-show="showSearch" md-theme="altTheme" class="md-whiteframe-z1" ng-init="cargarCat('/Macrored', 'cat_macrored');
	cargarCat('/Mesored', 'cat_mesored');
	cargarCat('/Microred', 'cat_microred');
	cargarCat('/Jurisdiccion', 'cat_jurisdiccion');
	cargarCat('/sisUsuario', 'cat_usuario');
	cargarCat('/Indicador?categoria=PC', 'cat_indicadores');">
		<div class="md-toolbar-tools">
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
				<md-icon md-svg-icon="menu"></md-icon>
			</md-button>
			<md-button ng-click="mostrarSearch(1)" aria-label="{{ 'REGRESAR' | translate }}">
				<md-icon md-svg-icon="keyboard-backspace"></md-icon> {{ 'REGRESAR' | translate}}
			</md-button>

			<form ng-submit="buscarL(buscar,columna)" flex layout="row">

				<md-input-container flex>
					<label>&nbsp;</label>
					<input focus-me="showSearch" ng-model="buscar" type="text" placeholder="{{ 'BUSCAR' | translate }}" flex>
				</md-input-container>
			</form>
		</div>
	</md-toolbar>
	<md-toolbar md-theme="searchTheme">
		<div layout="column">
			<div layout="row" flex>
				<md-select flex placeholder="{{ 'MACRORED' | translate }}" ng-model="macrored" ng-change="cargarCat('/Mesored?id='+macrored, 'cat_mesored');">
					<md-option value="">{{'ALL' | translate }}</md-option>
					<md-option ng-repeat="item in cat_macrored" value="{{item.id}}">
						{{item.nombre}}
					</md-option>
				</md-select>
				<md-select flex placeholder="{{ 'MESORED' | translate }}" ng-model="mesored" ng-change="cargarCat('/Microred?id='+mesored, 'cat_microred');">
					<md-option value="">{{'ALL' | translate }}</md-option>
					<md-option ng-repeat="item in cat_mesored" value="{{item.id}}">
						{{item.nombre}}
					</md-option>
				</md-select>
				<md-select flex placeholder="{{ 'MICRORED' | translate }}" ng-model="microred">
					<md-option value="">{{'ALL' | translate }}</md-option>
					<md-option ng-repeat="item in cat_microred" value="{{item.id}}">
						({{item.clues}}) {{item.nombre}}
					</md-option>
				</md-select>
			</div>
			<div layout="row" flex>
				<md-select flex placeholder="{{ 'JURISDICCION' | translate }}" ng-model="jurisdiccion">
					<md-option value="">{{'ALL' | translate }}</md-option>
					<md-option ng-repeat="item in cat_jurisdiccion" value="{{item.jurisdiccion}}">
						{{item.jurisdiccion}}
					</md-option>
				</md-select>
				<md-select flex placeholder="{{ 'USUARIO' | translate }}" ng-model="email">
					<md-option value="">{{'ALL' | translate }}</md-option>
					<md-option ng-repeat="item in cat_usuario" value="{{item.email}}">
						{{item.email}}
					</md-option>
				</md-select>
				<div layout-gt-xs="row" style="padding: 26px;">
					<div flex-gt-xs>
						<md-datepicker ng-model="desde" md-placeholder="{{ 'DESDE' | translate }}" md-open-on-focus></md-datepicker>
					</div>
					<div flex-gt-xs>
						<md-datepicker ng-model="hasta" md-placeholder="{{ 'HASTA' | translate }}" md-open-on-focus></md-datepicker>
					</div>
				</div>

				<md-select flex placeholder="{{ 'INDICADOR' | translate }}" ng-model="indicador">
					<md-option value="">{{'ALL' | translate }}</md-option>
					<md-option ng-repeat="item in cat_indicadores" value="{{item.id}}">
						{{item.codigo}} - {{item.nombre}}
					</md-option>
				</md-select>

				<md-button ng-click="init()" class="md-raised md-accent">
					<md-icon md-svg-icon="magnify"></md-icon>
					{{ 'BUSCAR' | translate }}
				</md-button>
			</div>
		</div>
	</md-toolbar>
	<md-content layout="column">
		<md-card>
			<md-card-content layout="column">

				<md-data-table-container flex>
					<table md-data-table md-progress="datos">
						<thead md-order="query.order" md-trigger="onOrderChange">
							<tr>
								<th hide-sm name="ID" order-by="EvaluacionCalidad.id"></th>
								<th name="{{ 'MACRORED' | translate }}" order-by="macrored"></th>
								<th name="{{ 'MESORED' | translate }}" order-by="mesored"></th>
								<th name="{{ 'MICRORED' | translate }}" order-by="microred"></th>
								<th name="CLUES" order-by="clues"></th>
								<th hide-sm name="{{ 'JURISDICCION' | translate }}" order-by="clues"></th>
								<th hide-sm name="{{ 'USUARIO' | translate }}" order-by="idUsuario"></th>
								<th name="{{ 'FECHA_EVALUACION' | translate }}" order-by="fechaEvaluacion"></th>
								<th name="{{ 'TERMINADO' | translate }}" order-by="cerrado"></th>
								<th width="5px"></th>
							</tr>
						</thead>
						<tbody>
							<tr md-auto-select ng-repeat="dato in datos">
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer" hide-sm>
									{{ dato.id }}</td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer">
									{{ dato.macrored | uppercase }} </td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer">
									{{ dato.mesored | uppercase }} </td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer">
									{{ dato.microred | uppercase }} </td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer">
									{{ dato.clues | uppercase }}: {{ dato.cluesNombre | uppercase }} </td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer" hide-sm>
									{{ dato.jurisdiccion | uppercase }}</td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer" hide-sm>
									{{ dato.usuario | uppercase }}</td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer">
									{{ dato.fechaEvaluacion }}</td>
								<td ng-click="opcionEvaluacion(dato.cerrado ? 'ver' : 'modificar',dato.id)" style="cursor:pointer">
									<md-icon md-svg-src="{{ dato.cerrado ? 'check' : 'pencil'}}" class="{{ dato.cerrado ? 'md-primary' : ''}}"
									 title="{{ dato.cerrado ? 'Si' : 'No' }}"></md-icon>
								</td>
								<td>
									<section layout="row" layout-align="end center">
										<md-button ng-if="dato.enviado != 1 && dato.cerrado == 1 ? true : false" ng-click="correo(dato.id, $index)"
										 class="md-icon-button" aria-label="Enviar">
											<md-icon md-svg-src="email"></md-icon>
											<md-tooltip hide-sm>
												{{ 'EMAIL' | translate }}
											</md-tooltip>
										</md-button>
										<md-button ng-if="!dato.cerrado && permisoEliminar" ng-click="borrar(dato.id, $index)" class="md-icon-button md-warn"
										 aria-label="Eliminar">
											<md-icon md-svg-src="delete"></md-icon>
											<md-tooltip hide-sm>
												{{ 'ELIMINAR' | translate }}
											</md-tooltip>
										</md-button>
									</section>
								</td>

							</tr>
						</tbody>
					</table>
				</md-data-table-container>

				<span flex></span>
				<md-data-table-pagination md-limit="query.limit" md-label="paginationLabel" md-row-select="[25,50,100,1000,10000]"
				 md-page="query.page" md-total="{{paginacion.paginas}}" md-trigger="onPaginationChange" flex></md-data-table-pagination>
			</md-card-content>
		</md-card>
	</md-content>
</div>