
  
<div layout="column" class="relative" layout-fill role="main" flex ng-init="index('/EvaluacionPC')">

  <md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999" md-mode="indeterminate"></md-progress-linear>

  <md-toolbar class="md-whiteframe-z1" ng-include="'src/app/views/header-ver-opciones.html'"></md-toolbar>
  <md-content>
    <md-card>
      <md-card-content>
        <form role="form" name="forma">
          <md-content layout="column" class="imprimir" layour-align="center center">
            <md-list layout-margin layout-align="center center">

              <md-content class="md-padding">


                <md-autocomplete md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)"
                  md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch2(searchText)"
                  md-item-text="item.nombre" md-min-length="1" placeholder="{{ 'UM' | translate }}" md-delay="300"
                  ng-model="dato.idClues" md-input-name="idClues" md-menu-class="autocomplete-custom-template">

                  <md-item-template>
                    <span class="item-title">
                      <md-icon md-svg-icon="hospital-building"></md-icon>
                      <span> {{item.nombre}} </span>
                      <md-icon md-svg-icon="star"></md-icon>
                      <span> <strong style="font-size:.8em;">{{item.clues}}</strong> </span>
                    </span>
                    <span class="item-metadata" style="font-size:.8em">
                      <span class="item-metastat">
                        <strong>{{ 'JURISDICCION' | translate }}: </strong> {{item.jurisdiccion}}
                      </span>
                      <span class="item-metastat">
                        <strong>{{ 'MUNICIPIO' | translate }}: </strong>{{item.municipio}}
                      </span>
                      <span class="item-metastat">
                        <strong>{{ 'LOCALIDAD' | translate }}: </strong> {{item.localidad}}
                      </span>
                    </span>
                    <span class="item-metadata" style="font-size:.6em">
                      <md-icon md-svg-icon="map-marker"></md-icon>
                      <span class="item-metastat">
                        {{item.domicilio}}
                      </span>
                    </span>
                    <span class="item-metadata" style="font-size:.7em">
                      <md-icon md-svg-icon="hospital-building"></md-icon>
                      <span class="item-metastat">
                        <strong>{{item.tipoUnidad}}</strong>
                      </span>
                      <span class="item-metastat">
                        <md-icon md-svg-icon="seat-flat"></md-icon>
                        <strong>{{item.tipologia}}</strong>
                      </span>
                    </span>
                  </md-item-template>
                  <md-not-found>
                    No hay resultados para "{{searchText}}".
                  </md-not-found>
                  <div ng-messages="forma.microred.$error">
                    <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                  </div>
                </md-autocomplete><input type="hidden" aria-label="microred" ng-model="dato.microred" name="microred"
                  required>

              </md-content>
              <md-content layout="column" layour-align="center center">
                <md-list layout-margin layout-align="center center">

                  <div style="text-align:center" flex>
                    <h4 style="font-size:1.8em">{{ dato.nombre }}</h4>
                    <h5 style="font-size:2em">
                      <md-icon md-svg-icon="star"></md-icon> {{ dato.clues }}
                    </h5>
                    <p style="font-size:.8em; margin-bottom:20px;">
                      {{ dato.domicilio }} <strong>CP: </strong> {{ dato.codigoPostal }}
                    </p>
                    <md-divider></md-divider>

                    <div style="font-size:.9em; margin:20px;">
                      <span flex="33.33">
                        <strong>{{ 'JURISDICCION' | translate }}:</strong> {{ dato.jurisdiccion }}
                      </span>
                      <span flex="33.33">
                        <strong>{{ 'MUNICIPIO' | translate }}:</strong> {{ dato.municipio }}
                      </span>
                      <span flex="33.33">
                        <strong>{{ 'LOCALIDAD' | translate }}:</strong> {{ dato.localidad }}
                      </span>
                    </div>
                    <md-divider></md-divider>

                    <div style="font-size:.7em; margin:20px;">
                      <span flex="50">
                        <md-icon md-svg-icon="hospital-building"></md-icon> {{ dato.tipologia }}
                      </span>
                      <span flex="50">
                        <md-icon md-svg-icon="hospital-building"></md-icon> {{ dato.tipoUnidad }}
                      </span>
                    </div>
                    <md-divider></md-divider>

                    <div style="font-size:.9em; margin-top:20px">
                      <span flex="50">
                        <strong>{{ 'MACRORED' | translate }}:</strong> {{ dato.macrored }}
                      </span>
                      <span flex="50">
                        <strong>{{ 'MESORED' | translate }}:</strong> {{ dato.mesored }}
                      </span>
                    
                    </div>
                    <div style="font-size:.9em; margin-top:20px">
                    
                      <span flex>
                        <strong>{{ 'MICRORED' | translate }}:</strong> {{ dato.microred }}
                      </span>
                    </div>
                  </div>
                </md-list>
              </md-content>

            </md-list>
          </md-content>

        </form>
      </md-card-content>
    </md-card>
  </md-content>
  <span ng-init="cargando = false;"></span>
</div>