<div layout="column" class="relative" layout-fill role="main" flex>
    <md-progress-linear ng-if="piePC" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999"
        md-mode="indeterminate"></md-progress-linear>
    <md-toolbar style="z-index: 59;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button " ng-click="toggleSidenav()" aria-label="Menu">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>

            <md-button class="md-icon-button " ng-click="toggleMenu()" aria-label="colapse">
                <md-icon md-svg-icon="chevron-left" ng-show="menuIsOpen"></md-icon>
                <md-icon md-svg-icon="chevron-right" ng-show="!menuIsOpen"></md-icon>
            </md-button>
            <h2>
                <span>Dashboard </span>
            </h2>
            <span flex></span>
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-gt-md="row" layour-align="center center" flex id="principal" style="background-color:#FFFFFF"
        ng-controller="piePCController" ng-init="toggleRightOpciones('piePC');">

        <md-content layout="column" flex-gt-xs="70" flex-gt-sm="80" flex-gt-md="60">
            <md-card layout="column" flex>
                <md-card-title flex>
                    <md-card-title-text>
                        <span class="md-headline">{{ 'REPORTE_X_EQUIPO' | translate}} {{ 'PC' | translate}}</span>
                        <span class="md-subhead">
                            <span>{{ "ANIO" | translate}} : {{filtro.anio}} </span>
                            <span ng-if="filtro.bimestre">{{"BIMESTRE" | translate}} : {{filtro.bimestre |
                                nombreBimestre}}</span>
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions flex layout="row" layout-align="end center">
                    <md-switch ng-model="filtro.estricto" aria-label="Estricto" ng-change="init()"></md-switch>


                    <md-button class="md-icon-button" ng-click="excel('Cobertura de PC')" aria-label="Exportar a excel"
                        ng-if="mostrarGrafica == 'tabla'">
                        <md-icon md-svg-icon="file-excel"></md-icon>
                        <md-tooltip hide-sm>
                            Exportar a excel
                        </md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button" aria-label="tabla" ng-click="mostrarGrafica = 'pie'">
                        <md-icon md-svg-icon="chart-pie"></md-icon>
                        <md-tooltip hide-sm>
                            Pie
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="tabla" ng-click="mostrarGrafica = 'mapa'; pintar_mapa();">
                        <md-icon md-svg-icon="google-maps"></md-icon>
                        <md-tooltip hide-sm>
                            Mapa
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="tabla" ng-click="mostrarGrafica = 'tabla'">
                        <md-icon md-svg-icon="table"></md-icon>
                        <md-tooltip hide-sm>
                            Tabla
                        </md-tooltip>
                    </md-button>
                </md-card-actions>

                <md-card-content flex="90" layout="column" class="radioButtondemoMultiColumn">
                    <md-content layout="column" flex>

                        <md-content ng-if="datosOk && mostrarGrafica == 'pie'">
                            <nvd3 options="options" data="data"></nvd3>
                        </md-content>

                        <md-content layout="column" layout-align="center center" ng-if="datosOk && mostrarGrafica == 'mapa'">
                            <ng-map center="Chiapas, Mexico" zoom="8" flex layout-fill style="display: block; height: 75vh;">
                                <marker position="[{{item.latitud}}, {{item.longitud}}]" icon="{{ dato[i].visitado == 1 ? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' }}" ng-repeat="item in dato | filter:{visitado : dato_mapa}"
                                    title="({{ item.clues }} {{ item.nombre }}"> </marker>
                            </ng-map>
                        </md-content>

                        <md-content layout="column" layout-align="center center" ng-if="datosOk && mostrarGrafica == 'tabla'">
                            <div id="exportar_datos" layout="column">
                                <table id="tabla_datos" class="table is-striped ">
                                    <thead>
                                        <tr>
                                            <th width="1%">{{ "CLUES" | translate}}</th>
                                            <th width="1%">{{ "NOMBRE" | translate}}</th>
                                            <th width="1%">{{ "JURISDICCION" | translate}}</th>
                                            <th width="1%">{{ "MUNICIPIO" | translate}}</th>
                                            <th width="1%">{{ "LOCALIDAD" | translate}}</th>
                                            <th>{{ "CONE" | translate}}</th>
                                            <th>{{ "ULTIMA_VISITA" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in dato | filter:{visitado : dato_mapa}" style="color: white; text-shadow: 1px 1px 1px #011; background:{{value.visita ? 'rgb(96, 240, 128)' : 'rgb(242, 98, 99)'}}">
                                            <th align="center">{{value.clues}}</th>
                                            <td align="center">{{value.nombre}}</td>
                                            <td align="center">{{value.jurisdiccion}}</td>
                                            <td align="center">{{value.municipio}}</td>
                                            <td align="center">{{value.localidad}}</td>
                                            <td align="center">{{value.cone}}</td>
                                            <td align="center">{{value.visita}}</td>
                                        </tr>
                                </table>
                            </div>
                        </md-content>

                        <div ng-show="!datosOk" layout="row" layout-align="center center" flex>
                            <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                        </div>
                    </md-content>
                    <md-divider></md-divider>
                    <md-radio-group ng-model="dato_mapa" layout="row" flex="9">
                        <div class="row" flex align="center">
                            <div flex layout='row' layout-padding layout-align="center center">
                                <md-radio-button flex ng-value="1" class="md-primary">
                                    {{'VISITADO' | translate}}: {{visitado}} UMs
                                </md-radio-button>
                            </div>
                        </div>
                        <div class="row" flex align="center">
                            <div flex layout='row' layout-padding layout-align="center center">
                                <md-radio-button flex ng-value="0" class="md-acent">
                                    {{'NO-VISITADO' | translate}}: {{no_visitado}} UMs
                                </md-radio-button>
                            </div>
                        </div>
                        <div class="row" flex align="center">
                            <div flex layout='row' layout-padding layout-align="center center">
                                <md-radio-button flex ng-value="" class="md-primary">
                                    Total: {{total}} UMs
                                </md-radio-button>
                            </div>
                        </div>
                    </md-radio-group>

                </md-card-content>
            </md-card>
        </md-content>
        <md-content layout-padding ng-include="'src/dashboard/views/dashboard/filtros.html'" flex> </md-content>

    </md-content>
</div>