<md-dialog aria-label="clues" flex>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools ">
            <h2>
                <strong>
                    <span class="img-circle" style="background: {{ indicadorSeleccionado.color }}; display:block; height:1em; width:1em;"></span>
                    {{indicadorSeleccionado.codigo}}</strong>
                {{indicadorSeleccionado.nombre}} </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex style="overflow: overlay">
        <section>
            
            <md-progress-linear ng-if="criterioDetalle" class="md-accent" md-theme="altTheme" md-mode="indeterminate"></md-progress-linear>
            <div style="min-height: 500px; max-height: 716px; overflow: auto;" flex>
                <div layout-fill>
                    <div class="md-toolbar-tools" style="background:gainsboro">
                        <h2>
                            <span flex>Clic en el elemento para ver detalle</span>
                        </h2>
                    </div>
                    <md-content flex>
                        <md-data-table-container>
                            <table md-data-table md-progress="datos">
                                <thead md-order="query.order" md-trigger="onOrderChange">
                                    <tr>
                                        <th width="1%"></th>
                                        <th name="{{ tipo < 2 ? 'CRITERIO' : 'NOMBRE' | translate }}" width="20%"></th>
                                        <th width="1%" name="{{ 'TOTAL' | translate }} {{ 'CRITERIO' | translate }}"></th>
                                        <th width="1%" name="{{ 'APROBADO' | translate }}" width="20%"></th>
                                        <th width="20%" name="{{ 'PROMEDIO' | translate }}" width="20%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in indicadorDetalle" ng-click="tipo >= 2 ? getCluesCriterios(event,value.id, (tipo + 1)) : getCriterioDetalleClick(event, value.id, (tipo + 1))"
                                        style="cursor: pointer">
                                        <th>{{$index+1}}</th>
                                        <td><strong>{{ value.nombre }}</strong></td>
                                        <td>{{ value.total }}</td>
                                        <td>{{ value.aprobado }}</td>
                                        <td>
                                            <div class="progress" ng-if="!filtro.estricto" style=" background:{{ value.promedio == 0 ? 'red' : '' }}">
                                                <div class="progress-bar progress-bar-striped active progress-bar-default"
                                                    role="progressbar" aria-valuenow="{{ value.promedio }}"
                                                    aria-valuemin="0" aria-valuemax="100" style="width:{{ value.promedio }}%; background:{{ value.color }}">
                                                    {{ value.promedio == '99.99' ? 100 : value.promedio }}%
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>

                    </md-content>
                </div>
            </div>
        </section>

    </md-dialog-content>
</md-dialog>