<md-card layout="column" flex layout-fill>
    <md-card-title flex>
        <md-card-title-text>
            <span class="md-headline">{{ 'FILTRAR' | translate}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center" flex>
        <md-button class="md-raised" ng-click="aplicarFiltro(true,null)">
            <md-icon md-svg-icon="check"></md-icon>
            {{ 'APLICAR_FILTRO' | translate }}
        </md-button>
        <md-button class="md-raised" ng-if="filtros.activo" ng-click="quitarFiltro()">
            <md-icon md-svg-icon="close-box-outline"></md-icon>
            {{ 'QUITAR_FILTRO' | translate }}
        </md-button>
    </md-card-actions>
    <md-card-content flex="90" layout-gt-md="column">
        
        <md-content >
            <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom >
                
                <md-tab label="{{ 'PERIODO' | translate }}"  >
                    <div layout="row" layout-align="center center" layout-margin>
                        <div flex>
                            <md-select placeholder="{{ 'ANIO' | translate }}" ng-model="filtro.anio">
                                <md-option ng-repeat="item in datos[0]" ng-click="cambiarAnio(item.anio)" value="{{item.anio}}">{{item.anio}}</md-option>
                            </md-select>
                        </div>
                        <md-button class="md-icon-button" ng-click="filtro.anio=[]" style="display:inline-block">
                            <md-icon md-svg-icon="close-box-outline"></md-icon>
                            <md-tooltip hide-sm>
                                {{ 'QUITAR_FILTRO' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center" layout-margin>
                        <div flex>
                            <md-select placeholder="{{ 'BIMESTRE' | translate }}" ng-model="filtro.bimestre" ng-change="cambiarBimestre(filtro.bimestre)">
                                <md-option ng-repeat="item in datos[1]" value="{{item.id}}">{{item.nombre}}</md-option>
                            </md-select>
                        </div>
                        <md-button class="md-icon-button" ng-click="filtro.bimestre=[]">
                            <md-icon md-svg-icon="close-box-outline"></md-icon>
                            <md-tooltip hide-sm>
                                {{ 'QUITAR_FILTRO' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <md-list-item>
                        <md-input-container flex>
                            <label>{{ 'DE' | translate}}</label>
                            <input type="date" ng-model="filtro.de">
                        </md-input-container>
                        <md-input-container flex>
                            <label>{{ 'HASTA' | translate}}</label>
                            <input type="date" ng-model="filtro.hasta">
                        </md-input-container>
                    </md-list-item>
                </md-tab>
                <md-tab label="{{ 'INDICADOR' | translate }}"  >
                    <md-content layout="row" layout-margin layout-padding>
                        <md-radio-group ng-model="filtro.tipo" layout="row" layout-aling="start center" ng-if="catVisible"
                            ng-change="cambiarCategoria()">
                            <md-radio-button value="Recurso">{{ 'RECURSO' | translate}}</md-radio-button>
                            <md-radio-button value="Calidad">{{ 'CALIDAD' | translate}}</md-radio-button>
                        </md-radio-group>
                        <md-radio-group ng-model="filtro.verTodosIndicadores" layout="row" layout-aling="start center"
                            ng-change="cambiarVerTodoIndicador()">
                            <md-radio-button ng-value="true" class="md-primary">{{ 'VER_TODO' | translate }}</md-radio-button>
                            <md-radio-button ng-value="false" class="md-primary">{{ 'VER_POR_INDICADOR' | translate }}</md-radio-button>
                        </md-radio-group>
                    </md-content>
                    <md-content ng-if="!filtro.verTodosIndicadores"  >                       
                        <md-list >
                            <md-list-item ng-repeat="c in datos[2]" class="md-2-line">
                                <md-checkbox aria-label="indicador" class="md-primary" ng-checked="exists(c.codigo, tempIndicador)"
                                    ng-click="toggle(c.codigo, tempIndicador)">
                                </md-checkbox>
                                <div class="md-list-item-text">
                                    <h3>
                                        {{c.codigo}}
                                        <span class="img-circle" style="background:{{c.color}}; position: relative; float: left; width: 0.7em; height: 0.7em; margin: 0; margin-right: 0.3em; padding: 0; display: block;">

                                        </span>
                                    </h3>
                                    <p>
                                        <small> {{ c.indicador }} </small>
                                    </p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="{{ 'PARAMETROS' | translate }}" >
                    <md-content layout="row" layout-margin layout-padding>
                        <md-radio-group ng-model="filtro.verTodosUM" layout="row" layout-aling="start center" ng-change="cambiarVerTodoUM()">
                            <md-radio-button ng-value="true" class="md-primary">{{ 'VER_TODO' | translate }}</md-radio-button>
                            <md-radio-button ng-value="false" class="md-primary">{{ 'FILTRO' | translate }}</md-radio-button>
                        </md-radio-group>
                    </md-content>
                    <div layout="row" layout-align="center center" layout-margin>
                        <div flex>
                            <md-select multiple="true" ng-model="filtro.um.cone" placeholder="{{ 'CONE' | translate }}"
                                ng-disabled="filtro.verTodosUM">
                                <md-option ng-repeat="item in datos[6]" value="{{item.cone}}">{{item.cone}}</md-option>
                            </md-select>
                        </div>
                        <md-button class="md-icon-button" ng-click="filtro.um.cone=[]">
                            <md-icon md-svg-icon="close-box-outline"></md-icon>
                            <md-tooltip hide-sm>
                                {{ 'QUITAR_FILTRO' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center" layout-margin>
                        <div flex>
                            <md-select multiple="true" ng-model="filtro.um.jurisdiccion" placeholder="{{ 'JURISDICCION' | translate }}"
                                ng-disabled="filtro.verTodosUM" ng-change="getDimension('municipio',4);getDimension('zona',5)">
                                <md-option ng-repeat="item in datos[3]" value="{{item.jurisdiccion}}">{{item.jurisdiccion}}</md-option>
                            </md-select>
                        </div>
                        <md-button class="md-icon-button" ng-click="filtro.um.jurisdiccion=[]">
                            <md-icon md-svg-icon="close-box-outline"></md-icon>
                            <md-tooltip hide-sm>
                                {{ 'QUITAR_FILTRO' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <md-content layout="row" layout-margin layout-padding>
                        <md-radio-group ng-model="filtro.um.tipo" layout="row" layout-aling="start center" ng-if="!filtro.verTodosUM">
                            <md-radio-button value="municipio">{{ 'MUNICIPIO' | translate}}</md-radio-button>
                            <md-radio-button value="zona">{{ 'ZONA' | translate}}</md-radio-button>
                        </md-radio-group>
                    </md-content>
                    <div layout="row" layout-align="center center" layout-margin ng-if="filtro.um.tipo=='municipio'">
                        <div flex>
                            <md-select multiple="true" ng-model="filtro.um.municipio" placeholder="{{ 'MUNICIPIO' | translate }}"
                                ng-disabled="filtro.verTodosUM">
                                <md-option ng-repeat="item in datos[4]" value="{{item.municipio}}">{{item.municipio}}</md-option>
                            </md-select>
                        </div>
                        <md-button class="md-icon-button" ng-click="filtro.um.municipio=[]">
                            <md-icon md-svg-icon="close-box-outline"></md-icon>
                            <md-tooltip hide-sm>
                                {{ 'QUITAR_FILTRO' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center" layout-margin ng-if="filtro.um.tipo=='zona'">
                        <div flex>
                            <md-select multiple="true" ng-model="filtro.um.zona" placeholder="{{ 'ZONA' | translate }}"
                                ng-disabled="filtro.verTodosUM">
                                <md-option ng-repeat="item in datos[5]" value="{{item.zona}}">{{item.zona}}</md-option>
                            </md-select>
                        </div>
                        <md-button class="md-icon-button" ng-click="filtro.um.zona=[]">
                            <md-icon md-svg-icon="close-box-outline"></md-icon>
                            <md-tooltip hide-sm>
                                {{ 'QUITAR_FILTRO' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
        
    </md-card-content>
</md-card>