
    
<div layout="column" class="relative" layout-fill role="main" flex>
    <md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999"
        md-mode="indeterminate"></md-progress-linear>
    <md-toolbar style="z-index: 59;">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button " ng-click="toggleSidenav()" aria-label="Menu">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            
            <md-button class="md-icon-button " ng-click="toggleMenu()" aria-label="colapse">
                <md-icon md-svg-icon="chevron-left" ng-show="menuIsOpen"></md-icon>
                <md-icon md-svg-icon="chevron-right" ng-show="!menuIsOpen"></md-icon>
            </md-button>
            <h2>
                <span>Dashboard </span>
            </h2>
            <span flex></span>
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-gt-md="row" layour-align="center center" layout-padding flex id="principal"
        style="background-color:#FFFFFF" ng-controller="alertaPCController" ng-init="toggleRightOpciones('alertaPC');">
        <div flex flex-gt-xs="70" flex-gt-sm="80" flex-gt-md="60" layout-fill>
            <div class="md-toolbar-tools" style="background:gainsboro">
                <h2>
                    <span flex>{{ 'INDICADOR_ALERTA' | translate}} {{ 'PC' | translate}}</span>
                </h2>
                <span flex></span>
                <md-switch ng-model="filtro.estricto" aria-label="estricto" ng-change="init()">
                    <md-tooltip hide-sm>
                        {{ !filtro.estricto ? 'MODOESTRICTO' : 'MODOALERTA' | translate }}
                    </md-tooltip>
                </md-switch>
                <span>
                </span>
            </div>
            <md-progress-linear ng-if="alertaPC" class="md-accent" md-theme="altTheme" md-mode="indeterminate"></md-progress-linear>
            <md-content flex>
                <md-data-table-container ng-show="datosOk">
                    <table md-data-table md-progress="datos">
                        <thead md-order="query.order" md-trigger="onOrderChange">
                            <tr>
                                <th width="1%" name="{{ 'CODIGO' | translate }}"></th>
                                <th name="{{ 'INDICADOR' | translate }}"></th>
                                <th name="{{ 'PORCENTAJE' | translate }}"></th>
                                <th ng-if="filtro.estricto" name="{{ 'CUMPLE' | translate }}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="value in dato" ng-click="getAlertaDetalle(event, value)" style="cursor: pointer;">
                                <td>{{ value.codigo }}</td>
                                <td>{{ value.nombre }}</td>
                                <td>
                                    <div class="progress" ng-if="!filtro.estricto">
                                        <div class="progress-bar progress-bar-striped active progress-bar-default" role="progressbar"
                                            aria-valuenow="{{ value.porcentaje }}" aria-valuemin="0" aria-valuemax="100"
                                            style="width:{{ value.porcentaje }}%; background:{{ value.color }}">
                                            {{ value.porcentaje }}%
                                        </div>
                                    </div>
                                    <div ng-if="filtro.estricto">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped active progress-bar-default"
                                                role="progressbar" aria-valuenow="{{ value.porcentaje }}" aria-valuemin="0"
                                                aria-valuemax="100" style="width:{{ value.porcentaje }}%; background:{{ value.color }}">
                                                {{ value.porcentaje }}%
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td ng-if="filtro.estricto">
                                    {{ value.cumple }} / {{ value.cumple + value.noCumple }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
                <div ng-if="filtro.estricto" ng-show="datosOk" style="font-size:.8em" align="center" class="ng-binding"
                    aria-hidden="false" layout-margin layout-padding>
                    {{ 'MODO_ESTRICTO' | translate}}
                </div>
                <div ng-show="!datosOk" layout="row" layout-align="center center">
                    <h3>{{ 'NO_HAY_DATOS' | translate}}</h3>
                </div>
                <md-sidenav layout="column" layout-fill class="md-sidenav-right md-whiteframe-z2" md-component-id="alertaPC"
                    ng-include="'src/dashboard/views/dialog.html'"></md-sidenav>
            </md-content>
        </div>
        <div ng-include="'src/dashboard/views/dashboard/filtros.html'" flex layout-fill> </div>
    </md-content>
</div>