<div layout="column" class="relative" layout-fill role="main" flex>

    <md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999"
        md-mode="indeterminate"></md-progress-linear>
    <md-toolbar>
        <div class="md-toolbar-tools" ng-init="ver('/Hallazgo')">
            <md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h2>
                <span>{{ 'EVALUACION' | translate }}</span>
            </h2>
            <span flex></span>

            <a ng-click="firstClick(dato.id,true)">
                <md-button hide-md hide-sm hide-lg aria-label="{{ 'REGRESAR' | translate }}">
                    <md-icon md-svg-icon="keyboard-backspace"></md-icon>
                    {{ 'REGRESAR' | translate }}
                </md-button>

                <md-button class="md-icon-button" hide show-sm show-md show-lg aria-label="{{ 'REGRESAR' | translate }}">
                    <md-icon md-svg-icon="keyboard-backspace"></md-icon>
                    <md-tooltip hide-sm>
                        {{ 'REGRESAR' | translate }}
                    </md-tooltip>
                </md-button>
            </a>

            <md-button hide-md hide-sm hide-lg aria-label="{{ 'PDF' | translate }}" imprimir-div=".imprimir">
                <md-icon md-svg-icon="printer"></md-icon>
                {{ 'PDF' | translate }}
            </md-button>
            <md-button class="md-icon-button" hide show-sm show-md show-lg imprimir-div=".imprimir" aria-label="{{ 'PDF' | translate }}">
                <md-icon md-svg-icon="printer"></md-icon>
                <md-tooltip hide-sm>
                    {{ 'PDF' | translate }}
                </md-tooltip>
            </md-button>

            <md-button hide-sm class="md-icon-button" aria-label="{{ 'CAMBIAR_IDIOMA' | translate }}" ng-click="mostrarIdiomas($event)">
                <md-icon md-svg-icon="web"></md-icon>
                <md-tooltip hide-sm>
                    {{ 'CAMBIAR_IDIOMA' | translate }}
                </md-tooltip>
            </md-button>

            <md-button hide-sm ng-click="logout()" aria-label="{{ 'CERRAR_SESION' | translate }}">
                <md-icon md-svg-icon="exit-to-app"></md-icon>
                {{ 'CERRAR_SESION' | translate }}
            </md-button>

        </div>
    </md-toolbar>
    <md-content class="imprimir" layout="column" layout-padding>

        <md-chips class="custom-chips" ng-model="eIndicador" readonly="true">
            <md-chip-template>
                <md-icon md-svg-src="brightness-1" style="float: left; margin-left: -.8em; margin-top: .2em; margin-right: .5em;color:{{ $chip.color }}"></md-icon>
                <span class="chip-text"><strong>{{$chip.codigo}}</strong> {{ $chip.indicador }}</span>
            </md-chip-template>
        </md-chips>

        <md-content layout="column" layour-align="center center">
            <section>
                <md-list>
                    <md-list-item ng-repeat="c in dato" class="md-2-line" ng-click="verEvaluacion(c.idEvaluacion,c.categoria)"
                        style="border-bottom: 1px solid #ddd">
                        <div class="md-list-item-text">
                            <h3>
                                {{c.fechaEvaluacion}}
                            </h3>
                            <p>
                                {{c.categoria}} # {{c.idEvaluacion}}
                                <br>
                                <small> {{ c.clues }} {{c.nombre}} ({{c.jurisdiccion}}) </small>
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </section>
        </md-content>
</div>