<app-login layout="column" class="relative" role="main" flex>
    <div class="at-theme-light mat-bg-white at-absolute at-wp-100 at-hp-100"  flex>
        <img class="at-wp-100 at-hp-100 at-fixed" src="assets/img/fondo.svg">
       
        <md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999" md-mode="indeterminate"></md-progress-linear>
        
        <div layout-fill layout="column" layout-wrap layout-align="center center">

            <md-card class="mat-card" layout="column" id="login-form">
                
                <div layout="row" layour-align="start center" style="align-items: center;">
                    <img src="assets/img/cium.svg" style="margin-left: -10px;width: 80px;">
                    <div class="at-ml-20">
                        <h2 class="at-mt-0">{{'IDENTIFICATE' | translate}}</h2>
                        <div>{{'ENTRAR-CIUM' | translate}}</div>
                    </div>
                </div>

                <br><br>
                <form flex layout="column" ng-submit="signin()" layout-padding>

                    <md-input-container class="md-block">
                        <md-icon md-svg-src="email" class="email"></md-icon>
                        <input ng-model="email" name="email" type="email" placeholder=" {{ 'EMAIL' | translate }}"
                            ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon md-svg-src="lock" class="email"></md-icon>
                        <input ng-model="password" name="password" type="password" placeholder=" {{ 'PASSWORD' | translate }}"
                            ng-required="true">
                    </md-input-container>
                </form>
                <div class="at-mt-10" layout="row" layour-align="start center">
                    <md-checkbox ng-model="remember" aria-label="remember">
                        {{'REMEMBER-ME' | translate}}
                    </md-checkbox>

                    <span flex></span>
                    <md-button ng-href="{{urlOlvidePassword}}" aria-label="{{ 'OLVIDE_PASSWORD' | translate }}"
                        style="margin: 0px">
                        <small>{{ 'OLVIDE_PASSWORD' | translate }}</small>
                        <md-icon md-svg-icon="face"></md-icon>
                    </md-button>
                </div>
                <br>
                <div layout="row" layour-align="center center" layout-fill>
                    <md-button type="submit" ng-disabled="cargando" class="md-raised md-primary" ng-click="signin()"
                        layout-fill>
                        <md-icon md-svg-src="lock-open"></md-icon>
                        {{ 'ENTRAR' | translate }}
                    </md-button>
                </div>
                <br>
                <div layout="row" layour-align="start center">
                    <span>{{ 'NO-TIENE-CUENTA' | translate }}</span>
                    <span flex></span>
                    <md-button class="mat-primary mat-button" ng-href="{{urlRegistro}}" aria-label="{{ 'REGISTRARSE' | translate }}"
                        style="margin: 0px">
                        {{ 'REGISTRARSE' | translate }}
                        <md-icon md-svg-icon="account"></md-icon>
                    </md-button>

                </div>
            </md-card>

            <div class="login-footer" layout="row" layour-align="end center">
                <span flex></span>

                <md-button class="md-icon-button" aria-label="Ayuda" ng-click="mostrarAyuda($event, 'login')">
                    <md-icon md-svg-icon="help-circle"></md-icon>
                    <md-tooltip hide-sm>
                        {{ 'HELP' | translate }}
                    </md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="Cambiar idioma" ng-click="mostrarIdiomas($event)">
                    <md-icon md-svg-icon="web"></md-icon>
                    <md-tooltip hide-sm>
                        {{ 'CAMBIAR_IDIOMA' | translate }}
                    </md-tooltip>
                </md-button>

            </div>

        </div>
    </div>
</app-login>