<md-toolbar>
	<div class="md-toolbar-tools  md-whiteframe-z2">
		<md-icon md-svg-icon="logo"></md-icon>

		<h2 ng-show="menuIsOpen">{{ 'APP_NOMBRE' | translate }}</h2>
		<span flex></span>
	</div>
</md-toolbar>

<header class="nav-header md-whiteframe-z1" style="{{menuIsOpen ? !mostrarMenuUsuario ? 'height: 173px;' : 'height: 282px;' : ''}}">

	<a class="docs-logo" href="javascript:void(0)" ng-show="menuIsOpen" layout="column">
		<img ng-src="{{ loggedUser.foto != null ? url_base + '/adjunto/usuario/' + loggedUser.foto : loggedUser.avatar ? loggedUser.avatar : 'assets/img/user.png'  }}"
		 class="md-avatar md-whiteframe-z2" alt="usuario" style="width:120px;height:120px;" />
		<div class="profile-info" ng-click="mostrarMenuUsuario = !mostrarMenuUsuario">
			<small style="    text-shadow: 1px 1px 1px #000; font-size: 13pt;">{{loggedUser.nombre}}</small>
			<md-icon class="md-primary" md-svg-icon="{{(mostrarMenuUsuario)?'arrow-up-drop-circle':'arrow-down-drop-circle'}}"></md-icon>
		</div>
	</a>
	<a class="docs-logo" href="javascript:void(0)" ng-hide="menuIsOpen" ng-click="mostrarMenuUsuario = !mostrarMenuUsuario"
	 layout="column">
		<img ng-src="{{ loggedUser.foto != null ? url_base + '/adjunto/usuario/' + loggedUser.foto : loggedUser.avatar ? loggedUser.avatar : 'assets/img/user.png'  }}"
		 class="md-avatar" alt="usuario" style="width: 54px; height: 54px; border-radius: 7%;" />
		<md-tooltip md-direction="right" show-gt-sm>Opciones del usuario</md-tooltip>
	</a>
	<md-content md-theme="userInfoTheme" ng-show="mostrarMenuUsuario" style="margin-top: -16px;">
		<md-list-item ng-click="ir('/usuario/perfil/'+loggedUser.id)" aria-label="'PERFIL' | translate" ng-class="{'md_inner': !menuIsOpen }">
			<md-icon class="md-primary" md-svg-icon="account" ng-click="ir('/usuario/perfil/'+loggedUser.id)"></md-icon>
			<p ng-show="menuIsOpen" translate="PERFIL"></p>
			<md-tooltip md-direction="right" show-gt-sm>{{'PERFIL' | translate}}</md-tooltip>
		</md-list-item>

		<md-list-item ng-click="logout()" aria-label=" 'CERRAR_SESION' | translate" ng-class="{'md_inner': !menuIsOpen }">
			<md-icon class="md-primary" md-svg-icon="exit-to-app" ng-click="logout()"></md-icon>
			<p ng-show="menuIsOpen" translate="CERRAR_SESION"></p>
			<md-tooltip md-direction="right" show-gt-sm>{{'CERRAR_SESION' | translate}}</md-tooltip>
		</md-list-item>
		<md-divider></md-divider>
	</md-content>
</header>

<md-content flex role="navigation" layout-fill>
	<md-list layout="column" ng-init="mostrarMenuUsuario = false;">

		<md-list-item aria-label=" {{'eTAB' | translate}}" ng-class="{'md_inner': !menuIsOpen }" ng-click="ir(url_etab, 1)">

			<md-icon ng-class="{'md-primary': menuSelected == '/etab'}" md-svg-icon="etab" ng-click="ir(url_etab, 1)">
				<md-tooltip md-direction="right" show-gt-sm>{{'eTAB'| translate}}</md-tooltip>
			</md-icon>
			<p ng-show="menuIsOpen" ng-style="menuSelected == '/etab' ? { 'font-weight':'bold' }: { 'font-weight': 'inherit' }"
			 translate="eTAB"></p>

			<md-tooltip md-direction="right" ng-hide="menuIsOpen" style="position: absolute;">{{'eTAB' | translate}}</md-tooltip>

		</md-list-item>

		<div ng-repeat="grupo in menu">
			<md-subheader ng-show="menuIsOpen && grupo.grupo" class="md-no-sticky">{{ grupo.grupo | translate}}</md-subheader>
			<md-divider></md-divider>
			<md-list-item ng-repeat="item in grupo.lista" ng-click="ir(item.path)" ng-class="{'md_inner': !menuIsOpen }"
			 aria-label="{{item.titulo | translate}}" focus-me="menuSelected == item.path">
				<md-icon ng-class="{'md-primary': menuSelected == item.path}" md-svg-icon="{{ item.icono }}" ng-click="ir(item.path)">

				</md-icon>
				<p ng-show="menuIsOpen" ng-style="menuSelected == item.path ? { 'font-weight':'bold' }: { 'font-weight': 'inherit' }">{{
					item.titulo | translate }}</p>
				<md-tooltip md-direction="right" ng-hide="menuIsOpen" style="position: absolute;">{{item.titulo | translate}}</md-tooltip>
			</md-list-item>

		</div>

		<md-divider></md-divider>

		<md-subheader ng-show="menuIsOpen" class="md-no-sticky">Ayuda</md-subheader>
		<md-list-item ng-click="ir('/acerca-de')" aria-label=" 'ACERCA_DE' | translate" ng-class="{'md_inner': !menuIsOpen }"
		 focus-me="menuSelected == '/acerca-de'">
			<md-icon ng-class="{'md-primary': menuSelected == '/acerca-de'}" md-svg-icon="information-outline" ng-click="ir('/acerca-de')">
				<md-tooltip md-direction="right" show-gt-sm>{{'ACERCA_DE'| translate}}</md-tooltip>
			</md-icon>
			<p ng-show="menuIsOpen" ng-style="menuSelected == '/acerca-de' ? { 'font-weight':'bold' }: { 'font-weight': 'inherit' }"
			 translate="ACERCA_DE"></p>

			<md-tooltip md-direction="right" ng-hide="menuIsOpen" style="position: absolute;">{{'ACERCA_DE' | translate}}</md-tooltip>
		</md-list-item>

		<md-list-item ng-click="ir('/descargar-app',1)" aria-label=" 'Descargar APP' | translate" ng-class="{'md_inner': !menuIsOpen }">
			<md-icon ng-class="{'md-primary': menuSelected == '/descargar-app'}" md-svg-icon="android" ng-click="ir('/descargar-app',1)">
				<md-tooltip md-direction="right" show-gt-sm>{{'Descargar APP'|translate}}</md-tooltip>
			</md-icon>
			<p ng-show="menuIsOpen" ng-style="menuSelected == '/descargar-app' ? { 'font-weight':'bold' }: { 'font-weight': 'inherit' }"
			 translate="Descargar APP"></p>

			<md-tooltip md-direction="right" ng-hide="menuIsOpen" style="position: absolute;">{{'Descargar APP'|translate}}</md-tooltip>
		</md-list-item>

		<!--<md-list-item ng-click="ir('/manual-usuario')" aria-label=" 'MANUAL_USUARIO' | translate" ng-class="{'md_inner': !menuIsOpen }"
		 focus-me="menuSelected == '/manual-usuario'">
			<md-icon ng-class="{'md-primary': menuSelected == '/manual-usuario'}" md-svg-icon="book-open-page-variant" ng-click="ir('/manual-usuario')">
				<md-tooltip md-direction="right" show-gt-sm>{{'MANUAL_USUARIO'|translate}}</md-tooltip>
			</md-icon>
			<p ng-show="menuIsOpen" ng-style="menuSelected == '/manual-usuario' ? { 'font-weight':'bold' }: { 'font-weight': 'inherit' }"
			 translate="MANUAL_USUARIO"></p>

			<md-tooltip md-direction="right" ng-hide="menuIsOpen" style="position: absolute;">{{'MANUAL_USUARIO' | translate}}</md-tooltip>
		</md-list-item>-->

		<md-list-item ng-click="ir('/manual-web')" aria-label=" 'MANUAL_WEB' | translate" ng-class="{'md_inner': !menuIsOpen }">
			<md-icon ng-class="{'md-primary': menuSelected == '/manual-web'}" md-svg-icon="book-open-page-variant" ng-click="ir('/manual-web')"
			 focus-me="menuSelected == '/manual-web'">
				<md-tooltip md-direction="right" show-gt-sm>{{'MANUAL_WEB'|translate}}</md-tooltip>
			</md-icon>
			<p ng-show="menuIsOpen" ng-style="menuSelected == '/manual-web' ? { 'font-weight':'bold' }: { 'font-weight': 'inherit' }"
			 translate="MANUAL_WEB"></p>

			<md-tooltip md-direction="right" ng-hide="menuIsOpen" style="position: absolute;">{{'MANUAL_WEB' | translate}}</md-tooltip>
		</md-list-item>

	</md-list>
</md-content>