 
<div layout="column" class="relative" layout-fill role="main">
	<md-progress-linear  ng-if="cargando" class="md-accent" style="position:fixed; top:-5px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar  >
		<div class="md-toolbar-tools">    
			<md-button hide-gt-sm class="md-icon-button" ng-click="toggleMenu(true)" aria-label="Menu">
		        <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span translate="NO_ENCONTRADO"></span>
			</h2>
			<span flex></span>		
			<md-button hide-sm class="md-icon-button" aria-label="{{ 'CAMBIAR_IDIOMA' | translate }}" ng-click="mostrarIdiomas($event)">
			  <md-icon md-svg-icon="web"></md-icon>
			</md-button>
			<md-button hide-sm ng-click="logout()"  aria-label="{{ 'CERRAR_SESION' | translate }}">
			  <md-icon md-svg-icon="exit-to-app"></md-icon>
			  {{ 'CERRAR_SESION' | translate }}
			</md-button>
		</div>
	</md-toolbar>		
	<md-content flex layout-padding>
		<p>La dirección a la que intenta acceder no existe.</p>
	</md-content>
</div>
