<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
  <span >   
      <small><strong>{{ paginacion.pag }}</strong> - <strong>{{ (paginacion.pag+paginacion.lim)-1 }}</strong> de <strong>{{ paginacion.paginas }}</strong> resultados.</small>
  </span>
  
    <md-button class="md-raised md-primary" hide-sm ng-click="primero()" >
      <md-icon md-svg-src="arrow-back"></md-icon>
      <md-tooltip hide-sm>
        {{ 'PRIMERA' | translate }}
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button"  hide show-sm ng-click="primero()">
      <md-icon md-svg-icon="keyboard-backspace"></md-icon>
      <md-tooltip hide-sm>
        {{ 'PRIMERA' | translate }}
      </md-tooltip>
    </md-button>


    <md-button class="md-raised" hide-sm ng-click="anterior()" >
      <md-icon md-svg-src="chevron-left"></md-icon>
      <md-tooltip hide-sm>
        {{ 'REGRESAR' | translate }}
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button"  hide show-sm ng-click="anterior()">
      <md-icon md-svg-icon="chevron-left"></md-icon>
      <md-tooltip hide-sm>
        {{ 'REGRESAR' | translate }}
      </md-tooltip>
    </md-button>


    <md-button class="md-raised" hide-sm ng-click="siguiente()" >
      <md-icon md-svg-src="chevron-right"></md-icon>
      <md-tooltip hide-sm>
        {{ 'SIGUIENTE' | translate }}
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button"  hide show-sm ng-click="siguiente()">
      
      <md-tooltip hide-sm>
        {{ 'SIGUIENTE' | translate }}
      </md-tooltip>
    </md-button>


    <md-button class="md-raised md-primary" hide-sm ng-click="ultimo()" >
      <md-icon md-svg-src="arrow-forward"></md-icon>
      <md-tooltip hide-sm>
        {{ 'ULTIMA' | translate }}
      </md-tooltip>
    </md-button>	

    <md-button class="md-icon-button"  hide show-sm ng-click="ultimo()">
      <md-icon md-svg-icon="arrow-forward"></md-icon>
      <md-tooltip hide-sm>
        {{ 'ULTIMA' | translate }}
      </md-tooltip>
    </md-button>				
 
</md-whiteframe>