
  
<div layout="column" class="relative" layout-fill role="main" flex ng-init="ver('/Indicador');Alertas();">
  <md-button class="md-fab md-fab-bottom-right md-warn" ng-click="nuevo()" aria-label="{{ 'NUEVA' | translate }}">
    <md-icon md-svg-icon="plus"></md-icon>
  </md-button>
  <md-progress-linear ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999" md-mode="indeterminate"></md-progress-linear>

  <md-toolbar class="md-whiteframe-z1" ng-include="'src/app/views/header-ver-opciones.html'"></md-toolbar>
  <md-content>
    <md-card>
      <md-card-content class="radioButtondemoMultiColumn">


        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="{{ 'DATOS_GENERALES' | translate }}">
            <md-content layout="row" layout-padding>
              <md-input-container flex>
                <label>{{ 'CODIGO' | translate }}</label>
                <input required name="codigo" ng-model="dato.codigo" minlength="3" maxlength="25">
                <div ng-messages="forma.codigo.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                  <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                  <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                </div>
              </md-input-container>

              <md-input-container flex >
                <label>{{ 'NOMBRE' | translate }}</label>
                <input required name="nombre" ng-model="dato.nombre" minlength="3" maxlength="255">
                <div ng-messages="forma.nombre.$error">
                  <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                  <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                  <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                </div>
              </md-input-container>
            </md-content>
            <md-content layout="column" layout-padding>

              <div flex class="radioDemo2 bidi">
                <h2>{{ 'CATEGORIA' | translate }}</h2>
                <md-divider></md-divider>
                <md-radio-group ng-model="dato.categoria">
                  <div class="row">
                    <div flex layout='row' layout-padding layout-align="start center">
                      <md-radio-button value="RECURSO" flex>{{ 'RECURSO' | translate }}</md-radio-button>
                    </div>
                  </div>
                  <div class="row">
                    <div flex layout='row' layout-padding layout-align="start center">
                      <md-radio-button value="CALIDAD" flex> {{ 'CALIDAD' | translate }} </md-radio-button>
                    </div>
                  </div>
                  <div class="row">
                    <div flex layout='row' layout-padding layout-align="start center">
                      <md-radio-button value="PC" flex> {{ 'PC' | translate }} </md-radio-button>
                    </div>
                  </div>
                </md-radio-group>
                <md-divider></md-divider>
              </div>
            </md-content>

            <md-content layout-padding>
              <h3>
                {{ 'COLOR' | translate }} <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </h3>
              <md-slider-container>
                <span>R</span>
                <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class="md-accent">
                </md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
                </md-input-container>
              </md-slider-container>
              <md-slider-container>
                <span>G</span>
                <md-slider flex ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider" md-theme="altThemeg"
                  class="md-primary">
                </md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
                </md-input-container>
              </md-slider-container>
              <md-slider-container>
                <span class="md-body-1">B</span>
                <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
                </md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
                </md-input-container>
              </md-slider-container>
            </md-content>
          </md-tab>

          <md-tab label="{{ 'ALERTA' | translate }}">
            <br>
            <md-button class="md-raised md-primary" type="button" ng-click="agregarAlerta()">
              <md-icon md-svg-icon="plus"></md-icon>
              <md-tooltip md-direction="right" show-gt-sm>{{'AGREGAR' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-raised md-accent" type="button" ng-show="dato.indicador_alertas.length > 0" ng-click="limpiarAlerta()">
              <md-icon md-svg-icon="delete-forever"></md-icon>
              <md-tooltip md-direction="right" show-gt-sm>{{'LIMPIAR' | translate}}</md-tooltip>
            </md-button>
            <md-data-table-container>
              <table md-data-table md-progress="datos">
                <thead md-order="query.order" md-trigger="onOrderChange">
                  <tr>
                    <th name="{{  'MINIMO' | translate }}"></th>
                    <th name="{{  'MAXIMO' | translate }}"></th>
                    <th name="{{  'COLOR' | translate }}"></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr md-auto-select ng-repeat="item in dato.indicador_alertas">


                    <td>
                      <md-input-container flex layout>
                        <input aria-label="min{{$index}}" string-to-number type="number" min="0" max="100" ng-model="item.minimo"
                          readonly="readonly">
                      </md-input-container>
                    </td>
                    <td>
                      <md-input-container flex layout>
                        <input aria-label="max{{$index}}" string-to-number type="number" min="{{dato.indicador_alertas[$index].minimo}}"
                          max="100" ng-model="item.maximo" ng-change="calcularMinimo($index)" required>
                      </md-input-container>
                    </td>
                    <td>
                      <md-input-container flex layout>
                        <md-select placeholder="Color" ng-model="item.idAlerta" ng-change="getIndexOf(item.idAlerta,$index)"
                          ng-init="getIndexOf(item.idAlerta,$index)">
                          <md-option ng-repeat="campo in alertas" value="{{campo.id}}">{{campo.nombre}}</md-option>
                        </md-select>
                      </md-input-container>
                    </td>

                    <td><span class="img-circle" style="background: {{ colorColor[$index] }}; display:block; height:25px; width:25px;"></span></td>
                    <td>
                      <md-button type="button" class="md-warn" aria-label="Quitar" ng-click="quitarAlerta($index)">
                        <md-icon md-svg-icon="delete"></md-icon>
                      </md-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-data-table-container>
          </md-tab>


          <md-tab label="{{ 'VALIDACION' | translate }}">
            <md-content layout="column" layout-marging layout-padding ng-include="'src/catalogos/indicador/views/form_validacion.html'">
            </md-content>
          </md-tab>

          <md-tab label="{{ 'INDICACIONES' | translate }}">
            <md-input-container class="md-block">
              <label>{{ 'INDICACIONES' | translate }}</label>
              <textarea ng-model="dato.indicacion" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </md-tab>
        </md-tabs>

      </md-card-content>
    </md-card>
  </md-content>
</div>